<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage ontology</title>
</head>
<body>
  <h1>Редактировать онтологию</h1>
  <ul id="navbar">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'manage_ontology_add' %}">Add new element</a></li>
      <li><a href="{% url 'manage_ontology_del_all' %}">Delete all triples for element</a></li>
      <li><a href="{% url 'manage_ontology_del_one' %}">Delete one triple for element</a></li>
  </ul>

</body>
</html>