<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Manage ontology</title>{% endblock %}
    <style>
        ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {text-decoration: none; }
#navbar li {
display: inline;
margin: 10px;
}
    </style>
</head>

<body>
  {% block sidebar %}
  <h1>Manage ontology</h1>
  <ul id="navbar">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'manage_ontology_add' %}">Add new element</a></li>
      <li><a href="{% url 'manage_ontology_del_all' %}">Delete all triples for element</a></li>
      <li><a href="{% url 'manage_ontology_del_one' %}">Delete one triple for element</a></li>
  </ul>
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>
</html>