<!DOCTYPE html>
<html lang="en">
<head>
<!--      <script type="text/javascript">-->
    <script type="application">
        if (window.location.protocol != "https:") {
           window.location.protocol = "https";
        }
    </script>
    <script src='https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js'></script>
    <meta charset="UTF-8">
    <style>
#mynetwork {
  width: 1000px;
  height: 1000px;
  border: 1px solid lightgray;
}
    </style>
</head>
<body>

    <script src="ontology_visualization.js" type="application/json"></script>
    <div id="mynetwork"></div>
    <h2>I am working</h2>

</body>
</html>