<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js'></script>
    <meta charset="UTF-8">
    <style>
#mynetwork {
  width: 2000;
  height: 1500px;
  border: 1px solid lightgray;
}
    </style>
</head>
<body>

    <a href="{% url 'home' %}">Home</a>

    <div id="mynetwork"></div>
    <h2>I am working fuck you a</h2>

    <script>

var myData = {};
{% url 'my_view' as url %}
fetch('{{ url }}')
  .then(response => response.json())
  .then(data => {
    myData = data;
    var nodes = myData['nodes'];
    var edges = myData['edges'];

    var container = document.getElementById("mynetwork");
    var data = {
      nodes: nodes,
      edges: edges,
    };
    var options = {edges:{
    arrows: {
        to: {
          enabled: true,
          type: "arrow",
        },
      },
  },
  };

  var network = new vis.Network(container, data, options);

  network.on("click", function (params) {
    params.event = "[original event]";

  });

  });

     </script>
</body>
</html>