@charset "UTF-8";

.bg-color-sky-light {
    background-color: #8dab84;
}

.carousel-inner {
    background-color: #8dab84;
}

.margin-b-0 {
    background-color: #8dab84;
}

.carousel-title {
    color: #8dab84;
}

.subtitle {
    color: white;
}

.color-base fweight-700 {
    color: #406933;
}
