@charset "UTF-8";

.title {
	font-size: 50px;
	color: #000;
	padding-left: 10px;
}
.title h1 {
	display: inline;
	background-color: rgba(201, 201, 161, 0.5);
	box-shadow: -10px 0 0 rgba(201, 201, 161, 0.5), 10px 0 0 rgba(201, 201, 161, 0.5);
	padding: 0 10px 0 0;
	color: #8dab84;
	line-height: 14px;
	font-size: 45px;
}

.subtitle {
    color: #ffffff;
}

.footer {
    background-color: #ffffff;
}


.collapse navbar-collapse nav-collapse {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.home{
    font-family:Hind,sans-serif;
    float: left;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-left: 25px;
    padding-buttom 5px;

}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-right: 25px;
    padding-buttom 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.our_button {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #3e7d41;
    position: relative;
    top: 0;
    left: 0;
}

.our_button:hover {
    box-shadow: 2px 2px white, 4px 4px #3e7d41;
    top: -4px;
    left: -4px;
}

.footer_links{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

ul.footer_links li {
    display: inline;
   }
