@charset "UTF-8";

.bg-color-sky-light {
    background-color: #8dab84;
}

.sw_cont {
    background-color: white;
}

.title {
	font-size: 50px;
	color: #000;
	padding-left: 10px;
}
.title h1 {
	display: inline;
	background-color: rgba(201, 201, 161, 0.5);
	box-shadow: -10px 0 0 rgba(201, 201, 161, 0.5), 10px 0 0 rgba(201, 201, 161, 0.5);
	padding: 0 10px 0 0;
	color: #8dab84;
	line-height: 14px;
	font-size: 45px;
}

.title h2 {
	color: white;
}

.margin-b-20 {
    color: white;
}

.subtitle {
    color: #8dab84;
}
